.logo {
  display: block;
  width: 100%;
  max-width: 9.375rem;
  object-fit: cover;
  border-radius: 100%;
}

.default {
  height: 3rem;
  width: 3rem;
}

.admin {
  height: 10rem;
  width: 10rem;
}

.icon {
  width: 1.3rem;
  max-width: 2rem;
  height: 1.3rem;
}
